Python artifacts

pycache/
*.pyc

Virtual Environment (VSC shows this as 'venv')

/venv
/env

Flask artifacts and session data

instance/
flask_session/
*.swp

Database file (prevents commiting local test data)

project.db

SECURITY: Environment variables (Crucial for API Key)

.env
