{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <div class="w-full max-w-sm p-6 bg-white rounded-xl shadow-lg border border-gray-100">
        <h2 class="text-2xl font-semibold mb-6 text-center text-gray-800">Welcome Back</h2>
        <form action="/login" method="post">
            
            <!-- Username Input -->
            <div class="mb-4">
                <input autocomplete="off" autofocus 
                       class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#6daba4]" 
                       name="username" 
                       placeholder="Username" 
                       type="text" 
                       required>
            </div>
            
            <!-- Password Input -->
            <div class="mb-6">
                <input class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#6daba4]" 
                       name="password" 
                       placeholder="Password" 
                       type="password" 
                       required>
            </div>
            
            <!-- Submit Button -->
            <button class="w-full bg-[#885C45] hover:bg-[#6A4734] text-white font-bold py-2 rounded-lg transition duration-150 shadow-md" 
                    type="submit">
                Log In
            </button>
        </form>
    </div>
{% endblock %}